@model StartupBusinessSystem.Web.ViewModels.Campaigns.ManageCampaignViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@foreach (var item in Model.AllPendingParticipations)
{
     {
        Model.ParticipationId = item.Id;
     }
    <div>Company name: @item.CompanyName</div>
    <div>Shares offered: @item.OfferedShares</div>
    using (Html.BeginForm("Manage", "Campaigns", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @Html.ValidationSummary(true)
            </div>
        }
        @Html.HiddenFor(m => m.ParticipationId)
        <div class="form-group">
            @Html.LabelFor(m => m.SharesGivenToUser, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SharesGivenToUser, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SharesGivenToUser)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.isAccepted, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.isAccepted)
                @Html.ValidationMessageFor(m => m.isAccepted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Add Startup" />
            </div>
        </div>
    }
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
